name: Bump version
on:
  push:
    branches:
      - main
jobs:
  determine-tag:
    runs-on: ubuntu-latest
    outputs: 
      determined-tag: ${{ steps.determine-tag.outputs.new_tag }}
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: '0'
    - name: Determine and store next tag
      id: determine-tag
      uses: anothrNick/github-tag-action@1.36.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        WITH_V: true
        DRY_RUN: true
    - name: verify determined tag value
      run: echo ${{ steps.determine-tag.outputs.new_tag }}


  mvn-build-publish:
    runs-on: ubuntu-latest
    needs: determine-tag
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11 
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: verify determined tag value
        run: echo ${{ needs.determine-tag.outputs.determined-tag }}
      - name: Publish package
        run: |
          mvn versions:set -DnewVersion=${{ needs.determine-tag.outputs.determined-tag }}
          mvn deploy --settings settings.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    runs-on: ubuntu-latest
    needs: [determine-tag, mvn-build-publish]
    steps:
     - uses: actions/checkout@v3
     - name: Create a Release
       uses: elgohr/Github-Release-Action@v4
       env:
         GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
       with:
         title: ${{ needs.determine-tag.outputs.determined-tag }}
