name: Bump version
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: '0'
    - name: Determine and store next tag
      id: determine-tag
      uses: anothrNick/github-tag-action@1.36.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        WITH_V: true
        DRY_RUN: true
    - name: verify determined tag value
      run: echo ${{ steps.determine-tag.outputs.new_tag }}


  publish:
    runs-on: ubuntu-latest 
    permissions: 
      contents: read
      packages: write 
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn -B package
      - name: Publish package
        run: mvn deploy --settings settings.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


#    - uses: actions/checkout@v3
#    - name: Create a Release
#      uses: elgohr/Github-Release-Action@v4
#     env:
#        GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
#      with:
#        title: ${{ steps.determine-tag.outputs.new_tag }}
